.my-cart{
    /* width: 50%;
    min-height: 400px; */
    background-color:beige;
    /* position:fixed;
    top:20; */
}

/* .new-postition{
    position: relative;
    margin-bottom: 50px;
} */

.product-margin-top{

    margin-top: 60px;
}
